* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 200px;
    height: 200px;
    perspective: 700px;
    /* position: relative; */
    margin: 250px auto;
}
.box {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(30deg);
}
.side {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color:rgba(30,67,125,.6);
    ;
}
.side--front{
    transform: rotateY(0) translateZ(100px);
    background-color: cornflowerblue;
}
.side--left{
    transform: rotateY(-90deg) translateZ(100px);
    background-color: green
}
.side--top{
    transform: rotateX(90deg) translateZ(100px);
    background-color: green
}